In [7]:
%pip install torch

Collecting torch
  Using cached torch-2.9.1-cp312-cp312-win_amd64.whl.metadata (30 kB)
Collecting filelock (from torch)
  Downloading filelock-3.20.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\playdata\miniconda3\envs\project-2nd\lib\site-packages (from torch) (4.15.0)
Collecting sympy>=1.13.3 (from torch)
  Using cached sympy-1.14.0-py3-none-any.whl.metadata (12 kB)
Collecting networkx>=2.5.1 (from torch)
  Downloading networkx-3.6.1-py3-none-any.whl.metadata (6.8 kB)
Collecting jinja2 (from torch)
  Using cached jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting fsspec>=0.8.5 (from torch)
  Downloading fsspec-2025.12.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: setuptools in c:\users\playdata\miniconda3\envs\project-2nd\lib\site-packages (from torch) (80.9.0)
Collecting mpmath<1.4,>=1.1.0 (from sympy>=1.13.3->torch)
  Using cached mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Collecting MarkupSafe>=2.0 (from jinja2->torch)
  Using cached markupsafe-3.0.3-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Using cached torch-2.9.1-cp312-cp312-win_amd64.whl (110.9 MB)
Downloading fsspec-2025.12.0-py3-none-any.whl (201 kB)
Downloading networkx-3.6.1-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 56.4 MB/s  0:00:00
Using cached sympy-1.14.0-py3-none-any.whl (6.3 MB)
Using cached mpmath-1.3.0-py3-none-any.whl (536 kB)
Downloading filelock-3.20.1-py3-none-any.whl (16 kB)
Using cached jinja2-3.1.6-py3-none-any.whl (134 kB)
Using cached markupsafe-3.0.3-cp312-cp312-win_amd64.whl (15 kB)
Installing collected packages: mpmath, sympy, networkx, MarkupSafe, fsspec, filelock, jinja2, torch

   ---------------------------------------- 0/8 [mpmath]
   ---------------------------------------- 0/8 [mpmath]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ----- ---------------------------------- 1/8 [sympy]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   ---------- ----------------------------- 2/8 [networkx]
   -------------------- ------------------- 4/8 [fsspec]
   ------------------------------ --------- 6/8 [jinja2]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ----------------------------------- ---- 7/8 [torch]
   ---------------------------------------- 8/8 [torch]

Successfully installed MarkupSafe-3.0.3 filelock-3.20.1 fsspec-2025.12.0 jinja2-3.1.6 mpmath-1.3.0 networkx-3.6.1 sympy-1.14.0 torch-2.9.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
import numpy as np
import pandas as pd
import torch

In [ ]:
data = pd.read_csv('data/user_interaction_data.csv')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198608 entries, 0 to 198607
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        198608 non-null  int64
 1   item_id        198608 non-null  int64
 2   interact_type  198608 non-null  int64
 3   date           198608 non-null  int64
dtypes: int64(4)
memory usage: 6.1 MB

In [12]:
user = pd.read_csv('data/user_playback_data.csv')

In [13]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71046035 entries, 0 to 71046034
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   item_id   float64
 2   playtime  float64
 3   date      int64
dtypes: float64(2), int64(2)
memory usage: 2.1 GB

In [14]:
user.describe()

            user_id       item_id      playtime          date
count  7.104604e+07  7.098555e+07  7.104604e+07  7.104604e+07
mean   1.030083e+07  2.255265e+07  4.054142e+02  1.625105e+02
std    1.729314e+05  1.467702e+06  8.614861e+02  2.894869e+01
min    1.000000e+07  2.000000e+07  1.000000e-03  1.000000e+02
25%    1.015085e+07  2.127722e+07  8.602000e+00  1.410000e+02
50%    1.030054e+07  2.257264e+07  6.729900e+01  1.630000e+02
75%    1.045079e+07  2.382540e+07  2.606180e+02  1.850000e+02
max    1.060000e+07  2.507444e+07  2.513487e+05  2.220000e+02

In [15]:
user.head(10)

    user_id     item_id  playtime  date
0  10057286  20628283.0  2208.612   145
1  10522615  23930557.0    31.054   145
2  10494028  20173699.0   115.952   145
3  10181987  21350426.0     1.585   145
4  10439175  22946929.0    51.726   145
5  10489370  22620242.0     2.103   145
6  10013851  23767671.0    38.801   145
7  10067275  24866910.0    72.092   145
8  10289410  22887508.0    78.286   145
9  10197674  21978511.0  7276.681   145

In [16]:
user.groupby('user_id').value_counts()

user_id   item_id     playtime  date
10000000  20750223.0  2567.688  195     1
          21364132.0  2403.175  131     1
          21809350.0  2402.161  131     1
          21838648.0  1714.827  131     1
          22404563.0  8.096     132     1
                                       ..
10599997  24364951.0  1886.254  161     1
          24747321.0  1793.247  157     1
          24856268.0  1762.009  163     1
10599999  21200322.0  205.994   144     1
          22314497.0  1314.720  144     1
Name: count, Length: 70985552, dtype: int64

In [17]:
app_log = pd.read_csv('data/app_launch_logs.csv')

In [20]:
app_log.info()
app_log.describe()
app_log.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8493878 entries, 0 to 8493877
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   launch_type  int64
 2   date         int64
dtypes: int64(3)
memory usage: 194.4 MB

    user_id  launch_type  date
0  10157996            0   129
1  10139583            0   129
2  10277501            0   129
3  10099847            0   129
4  10532773            0   129

In [21]:
user_por = pd.read_csv('data/user_portrait_data.csv')

In [23]:
user_por.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596906 entries, 0 to 596905
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            596906 non-null  int64
 1   device_type        596567 non-null  float64
 2   device_ram         559134 non-null  object
 3   device_rom         568472 non-null  object
 4   sex                590459 non-null  float64
 5   age                589168 non-null  float64
 6   education          585903 non-null  float64
 7   occupation_status  588923 non-null  float64
 8   territory_code     559625 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 41.0+ MB

In [24]:
user_por.head()

,user_id,device_type,device_ram,device_rom,sex,age,education,occupation_status,territory_code
0,10209854,2.0,5731,109581,1.0,2.0,0.0,1.0,865101.0
1,10230057,2.0,1877,20888,1.0,4.0,0.0,1.0,864102.0
2,10194990,2.0,7593,235438,2.0,3.0,1.0,1.0,866540.0
3,10046058,2.0,NaN,55137,1.0,4.0,0.0,1.0,NaN
4,10290885,2.0,2816,52431,1.0,4.0,0.0,0.0,NaN

In [22]:
video = pd.read_csv('data/video_related_data.csv')

In [25]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250105 entries, 0 to 4250104
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   item_id    float64
 1   duration   float64
 2   father_id  float64
 3   tag_list   object
 4   cast       object
dtypes: float64(3), object(2)
memory usage: 162.1+ MB

In [26]:
video.describe()

            item_id      duration     father_id
count  4.250039e+06  3.886027e+06  1.429963e+06
mean   2.253751e+07  6.855220e+00  3.004692e+07
std    1.464919e+06  1.461751e+00  2.735779e+04
min    2.000000e+07  1.000000e+00  3.000000e+07
25%    2.126900e+07  6.000000e+00  3.002272e+07
50%    2.253748e+07  7.000000e+00  3.004705e+07
75%    2.380637e+07  8.000000e+00  3.007060e+07
max    2.507444e+07  1.600000e+01  3.009465e+07

In [27]:
video.head()

,item_id,duration,father_id,tag_list,cast
0,24403453.0,6.0,NaN,50365080;50338575;50313222;50165986,NaN
1,22838795.0,7.0,NaN,50001708;50323515;50125414,NaN
2,24181187.0,5.0,NaN,50181045;50008354;50186586;50097060;50136213;5...,NaN
3,23549051.0,NaN,NaN,NaN,NaN
4,20276917.0,8.0,NaN,50286627;50257578;50415463,NaN